<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZHCycleView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>538897641C7BFD8E00769E5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5388977D1C7BFD8E00769E5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>538897881C7BFD8E00769E5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
